@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
  border:0;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size:1.4rem;
  overflow: hidden;

  /* background-color: var(--color-component); */
}

:root {
  /*Fonts*/
  --font-text-primary:'Poppins', sans-serif;
  --font-text-secondary:'Roboto', sans-serif;
  --font-text-tertiary:'Open Sans', sans-serif;

  /*Light color palette*/
  --color-primary:hsl(173, 100%, 42%);
  --color-primary:hsl(174, 95%, 35%);
  --color-primary-hover:hsl(174, 57%, 59%);
  --color-secondary:hsl(174, 73%, 90%);
  --color-secondary:hsl(174, 73%, 93%);
  --color-tertiary:rgb(210, 221, 217);
  --color-component: hsl(0, 0%, 100%);
  --color-component-shadow:hsl(172, 52%, 84%);
  
  --color-background: hsl(264, 91%, 96%);
  
  --color-text-primary: hsl(0, 0%, 0%);
  /* --color-text-secondary: hsl(220, 2%, 61%);/*posible para dark*/
  /* --color-text-secondary: hsl(225, 52%, 61%);*/
  /* --color-text-secondary: hsl(180, 1%, 58%);   */
  --color-text-secondary: rgb(121, 120, 120);  
  /* --color-text-secondary: red; */
  --accent: hsl(93, 90%, 80%);

  --color-scroll-bar-1:rgb(238, 232, 232);
  --color-scroll-bar-2:rgb(197, 197, 197);

  --color-popup-background:hsla(0, 0%, 36%, 0.583);

  --color-popup-input:rgba(194, 250, 230, 0.205);
  --color-popup-input2:rgba(197, 213, 207, 0.244);

  --color-component-hover:#f1efefa6;
  --color-input-focus:#c3bfbfa7;

  --color-error:#fe5b5b;

  /*Font size*/
  /* --step--3: clamp(0.58rem, calc(0.47rem + 0.53vw), 0.87rem);
  --step--2: clamp(0.69rem, calc(0.57rem + 0.63vw), 1.04rem);
  --step--1: clamp(0.83rem, calc(0.68rem + 0.76vw), 1.25rem);
  --step-0: clamp(1.00rem, calc(0.82rem + 0.91vw), 1.50rem);
  --step-1: clamp(1.20rem, calc(0.98rem + 1.09vw), 1.80rem);
  --step-2: clamp(1.44rem, calc(1.18rem + 1.31vw), 2.16rem);
  --step-3: clamp(1.73rem, calc(1.41rem + 1.57vw), 2.59rem);
  --step-4: clamp(2.07rem, calc(1.70rem + 1.89vw), 3.11rem);
  --step-5: clamp(2.49rem, calc(2.04rem + 2.26vw), 3.73rem); */
  --step--3: clamp(0.58rem, calc(0.41rem + 0.86vw), 1.05rem);
  --step--2: clamp(0.69rem, calc(0.52rem + 0.89vw), 1.19rem);
  --step--1: clamp(0.83rem, calc(0.65rem + 0.91vw), 1.33rem);
  --step-0: clamp(1.00rem, calc(0.82rem + 0.91vw), 1.50rem);
  --step-1: clamp(1.20rem, calc(1.02rem + 0.89vw), 1.69rem);
  --step-2: clamp(1.44rem, calc(1.27rem + 0.83vw), 1.90rem);
  --step-3: clamp(1.73rem, calc(1.58rem + 0.74vw), 2.14rem);
  --step-4: clamp(2.07rem, calc(1.95rem + 0.60vw), 2.40rem);
  --step-5: clamp(2.49rem, calc(2.41rem + 0.39vw), 2.70rem);
}
[data-theme='dark'] {
  /*Dark color palette*/
  
  --color-component: #2C2F33;
  --color-component-shadow:hsla(180, 4%, 20%);
  --color-secondary: #23272A;
  --color-primary:hsl(174, 95%, 35%);
  --color-tertiary:rgb(241, 251, 247);
  /* --color-primary:gray; */
  --color-background: hsl(269, 95%, 15%);
  
  --color-text-primary: hsl(0, 0%, 100%);
  --color-text-secondary: hsl(0, 0%, 83%);
  --accent: hsl(120, 100%, 25%);

  --color-scroll-bar-1:rgb(80, 79, 79);
  --color-scroll-bar-2:rgb(131, 130, 130);


  --color-popup-background:hsla(0, 0%, 0%, 0.583);

  --color-popup-input:rgba(78, 85, 83, 0.327);
  --color-popup-input2:rgba(118, 126, 124, 0.244);

  --color-component-hover:hsla(0, 0%, 25%, 0.653);
  --color-input-focus:#777474a7;

  --color-error:#f98787;
}
