.rightMenu{
    position: absolute;
    right:0;

    width:20vw;
    height: 100%;
    margin-top: 11vh;
    // padding-top: ;
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
    // padding: ;
    background-color: aquamarine;
}