.rightMenu{
    position: absolute;
    right:1.9rem;
    top:1rem;

    width:17vw;
    height: 100%;
    max-width: 280px;
    margin-top: 11vh;
    // padding-top: ;
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
    // padding: ;
    background-color: antiquewhite;

    //flex
    // display: flex;
    // justify-content: center;
}