.transaction{
    width:100%;
    height: 90%;
    padding: 2rem;
    border-radius: 1rem;
    color:var(--color-text-primary);
    background-color: var(--color-component);
    font-family: var(--font-text-primary);
    font-size: var(--step--2);
    font-weight:500;

    //Flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.transaction__control{
    height: 5%;    
    //Flex
    display: flex;
    justify-content: stretch;
}

.transaction__control__big{
    height:20%;
    display: flex;
    justify-content: stretch;
}

.transaction__label{
    display: block;
    width:20%;
}

.transaction__input{
    border-radius: 0.25rem;
    font-family: var(--font-text-primary);
    font-size: var(--step--3);
    color: var(--color-text-primary);
    background-color: var(--color-component-hover);

    outline: none;
    &:focus{
        border: 2px solid var(--color-input-focus);
    }
}

.transaction__input__select{
    display: block;
    width: 20%;
    text-align: center;
}

.transaction__input__text{
    width:80%;
    padding: 0 0.8rem 0 0.8rem;
}

.transaction__input__textarea{
    display: block;
    width:80%;
    resize: none;
    padding: 0 0.5rem 0 0.5rem;
}

.transaction__input__number{
    text-align: center;
    width: 18%;
}

.transaction__input__date{
    width: 20%;
    text-align: center;
}

.transaction__input__date__dark{
    color-scheme: dark;
}


.transaction__bottom{
    display: flex;
    justify-content: center;
}

.transaction__button{
    width:7.5vw;
    height: 5.5vh;
    border-radius: 0.75rem;
    background-color: var(--color-primary);
    
    font-family: var(--font-text-primary);
    font-size: calc(var(--step--3)*.90);
    font-weight: 600;
    color:var(--color-component);

    transition: all .2s ease-in-out;

    &:hover{
        cursor: pointer;
        transform: scale(1.05); 
        background-color: var(--color-primary-hover);
    }
}


.error{
    color: var(--color-error);
    font-size: calc(var(--step--3)*0.9);
    padding-left:20%;
    
}

.transaction__input__error{
    border: 2px solid var(--color-error);
}