// .row{
//     // background-color:yellow;
//     // padding: ;
//     // height: ;

//     // height: 6vh;
//     // width: 100%;
//     // padding: 1rem;
//     // margin-bottom: 0.35rem;

//     // background-color: var(--color-component);
//     // box-shadow: 0px 5px 5px 0.5px red;
//     // border-radius: .35rem;



//     // border: 2px solid red;

//     //Flex
//     // display: flex;
//     // flex-direction: row;
//     // justify-content: space-between;

//     // align-items: center;

//     //Transaition
//     // transition: all .2s ease-in-out;

//     // &:hover{
//     //   // background-color: antiquewhite;
//     //   transform: scale(0.97); 
//     // }
// }

.cell{
    // height: 35px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    // background-color: aqua;
}

.cell > span{

    // display: block;


    padding: 0.15rem 0.4rem 0.15rem 0.4rem;

    // background-color: yellow;
    border: 2px solid peru;
    // color: peru;
    // background-color: rgba(216, 214, 214, 0.226);

    border-radius: 0.4rem;
    font-family: var(--font-text-primary);
    font-size: calc(var(--step--3)*0.8);
    // color:black;
}

// .label{
//     display: block;
//     // width:100%;
//     // height: 50px;
    
//     // max-height: px;
//     margin-left: 5%;
//     background-color: #ffc4cf;
//     // text-align: center;

//     //Flex
//     // display: inline-flex;
//     // justify-content: center;
//     // align-items: flex-start;
    
// }

.center{
    // padding-left: .8rem;
    // padding-left: 4.8rem;
    text-align: center;
}

.icon{
    width:2.5vw;
    height: 5vh;
    border-radius: 0.45rem;
    background-color: antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
// .categories__card{
//     // display: block;
    
// }

.button__view{
    // width: 1vw;
    // height: 2vh;
    // background-color: ;
   color: var(--color-text-secondary);
   padding-right:0.65rem;

   &:hover{
    color: #bed5f7;
   }
}

.button__delete{
    all:unset;
    cursor: pointer;
    color: var(--color-text-secondary);
    background-color: transparent;

    &:hover{
        color: #ffc4cf;
       }
}
