.button{
    display: block;
    width:100%;
    height: 7%;
    padding-left: 7%;
    // background-color: violet;
    margin-bottom: 10%;
    //Flex
    display: flex;
    align-items: center;
}

.button__link{
    //Taking out button styles
    background-color: transparent;
    cursor: pointer;

    display: inline-block;
    padding-left: 4.5%;
    // background-color: aquamarine;
    font-size: 1.15rem; 
    color:var(--color-text-primary);
    text-decoration: none;
    font-weight: 600;
    
    &:hover{
        color:var(--color-primary);
    }
}

.button__icon{
    display: inline-flex;
    color:var(--color-primary);
}

@media (min-width: 1600px){
    .button__link{
        font-size: calc(var(--step--1)*.96);
        padding-left: 6.5%;
    }
    
    .button__icon{
        width:30px;
        height:30px;
    }
}