.lastTransactions{
    width:100%;
    height: 66%;
    background-color: aquamarine;
}

.lastTransactions__title{
    height: 5vh;
    padding-left: 1rem;
    background-color: purple;
    font-size: 1.3rem;

    //Flex
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lastTransactions__list{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1.15rem;
    background-color: var(--color-component);

    list-style: none;
}

.transaction{
    height: 8vh;
    padding: 0.5rem;
    background-color: Pink;
    display: flex;
    justify-content: space-between;
}

.transaction__icon{
    width:2.5vw;
    height: 5vh;
    border-radius: 0.45rem;
    background-color: antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;
}


.transaction__title{
    font-size: 8px;
}

.transaction__amount{
    font-size: 8px;
}

.transaction__date{
    font-size: 8px;
}