@use './../page';

.categories{
    // width:57vw;
    height: 100%;
    // min-height: 180px;
    // min-width: 700px;
    color:var(--color-text-primary);
    // background-color: peru;


    font-family: var(--font-text-secondary);
}

.categories__label{
    width:100%;
    //FLex
    display: flex;
    justify-content: space-between;
}

.categories__title{
    margin-bottom: 0.75rem;
    font-size: calc(var(--step--1)*0.95);
}

.categories__add{
    display: block;
    width:9vw;
    height: 4vh;
    border-radius: 0.5rem;

    font-size: calc(var(--step--3)*0.75);
    font-family: var(--font-text-primary);
    font-weight: 500;
    //Flex
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-primary);
    color: var(--color-component);

    text-decoration:none;
    // background-color: blueviolet;

    &:hover{
        cursor: pointer;
        transform: scale(0.95); 
        background-color: var(--color-primary-hover);
    }


}


.categories__favoriteCategories{
    // display: block;
    width:100%;
    height: 15vh;
    // background-color: var(--color-component);
    border-radius: .75rem;

    margin-bottom: 1.4rem;
    font-family: var(--font-text-primary);
    font-weight: 500;
    font-size: var(--step--1);
    //Flex
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    
}


.categories__favoriteCategory{
    display: block;
    width:17.5vw;
    height: 75%;
    background-color: pink;
    background-color: var(--color-component);
    border-radius: .75rem;
    box-shadow: 4px 8px 20px -8px var(--color-component-shadow);

    //Flex
    display: flex;
    justify-content: center;
    align-items: center;

    //Transaition
    transition: all .2s ease-in-out;

    &:hover{
      // background-color: antiquewhite;
      transform: scale(0.95); 
    }
}

.categories__icon{
    color:var(--color-primary);
    margin-right: 1rem;
}


.categories__allCategories{
    height: auto;
    // background-color: bisque;
    //Flex
    display: flex;
    justify-content: space-between;
}



/* SCROLLBAR-RIGHT */
.scroll__bar__right{
    // width:100%;
    // position: relative;
    // top:0;
    // height: 92%;
    width: 27.5vw;
    height:23vw;
    // padding: 7vh 2vw 0 1.5vw;
    // padding: 65vh 0 0 0;
    // padding: 47.5vh 0 0 0;
    // background-color: var(--right-section-background-color);
    // background-color: aquamarine;
    box-shadow: 0px 5px 5px 0.5px var(--navbar-shadow-color);
    // overflow:scroll;
    overflow-y: auto;
    
    // border-radius: 0 0 0 1rem;

    //Flex
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    // align-items: center;

    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
}

.categories__card{
    // display: block;
    height: 6vh;
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.35rem;
    // height: 300px;
    background-color: var(--color-component);
    box-shadow: 0px 5px 5px 0.5px var(--navbar-shadow-color);
    border-radius: .35rem;
    // border: 2px solid red;

    //Flex
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    //Transaition
    transition: all .2s ease-in-out;

    &:hover{
      // background-color: antiquewhite;
      transform: scale(0.97); 
    }
}

.scroll__bar__right::-webkit-scrollbar {
    padding-top: 50px;
    width: 0.5vw;
    height: 90%;
}


.scroll__bar__right::-webkit-scrollbar-track {
    background-color: var(--color-scroll-bar-1);
   
}

.scroll__bar__right::-webkit-scrollbar-thumb {
    padding-top: 20px;
    background-color: var(--color-scroll-bar-2);
    border-radius: 1rem;
}





//Card
.card__edit{
    cursor: pointer;
    background-color: transparent;
    color: var(--color-text-secondary);
    padding-right:0.65rem;
}

.card__delete{
    all:unset;
    cursor: pointer;
    color: var(--color-text-secondary);
    background-color: transparent;
}

.card__left{
    width: 80%;
    display: flex;
    // background-color: yellow;

    align-items: center;
}

.card__left > p{
    font-size:var(--step--3);
    font-weight: 400;
    margin-left: 1rem;
}