@use './../page';

// .container{
//     color:var(--accent);
//     background-color: purple;

//     transition: all .2s ease-in-out;
//     &:hover{
//         transform: scale(0.95); 
//         background-color: yellow;
//     }
// }

.user{
    font-family: var(--font-text-secondary);
}

.user__basic{
    height: 17vh;
    min-height: 128px;
    // background-color: antiquewhite;

    //Flex
    display: flex;
    justify-content: center;
}

// .user__basic > div {
    
// }

.user__left{
    // background-color: pink;
    position: relative;
    width:8.5vw;
    height: 8.5vw;
    min-width: 108px;
    min-height: 108px;
}

.user__left > img{
    width:8.5vw;
    height: 8.5vw;
    // width: 50px;
    // height: 50px;
    border-radius: 50%;
    // background-color: var(--color-secondary);
    border: 7px solid var(--color-component);
}
.user__edit{
    position: absolute;
    bottom: 10%;
    right: -10%;

    height: 2.5vw;
    width:2.4vw;
    border-radius: 50%;
    // 
    background-color: var(--color-tertiary);
    border: 3px solid var(--color-component);
    // background-color: red;

    //Flex
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__basic > span{
    width:2vw;
    display: block;
}

.user__right{
    //Flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user__right > p{
    font-size: var(--step--2);
    color:var(--color-text-secondary)
}

.user__extend{
    width:100%;
    height: 45vh;
    // min-height: 440px;
    background-color: aquamarine;

    //GRid
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    // grid-template-rows: repeat(3,auto);
    column-gap: 1vw;
    row-gap: 1vh;
}

.user__label{
    background-color: pink;
}