.background{
    width:100%;
    height: 100vh;
    // background-color: var(--color-component-hover);
    background-color: rgb(245, 243, 243);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width:54vw;
    height:70vh;
    border-radius: 1.15rem;
    background-color: aquamarine;
    overflow: hidden;

    box-shadow: 10px 10px 36px -5px rgba(163,156,156,0.75);
    box-shadow: 10px 10px 36px -5px rgba(191,186,186,0.75);

    //Flex
    display: flex;
    // justify-content: center;
}

.box{
    width: 50%;
    // height: 50vh;
    // border: 2px solid red;
    padding: 3rem;
}

.announce{
    background-color:hsl(173, 100%, 42%);

    color:hsl(0, 0%, 100%);
    padding-top: 8rem;
    padding-bottom: 8rem;
   
    //Flex
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.enter{
    background-color:hsl(0, 0%, 100%);

    // padding-top: 8rem;
    // padding-bottom: 8rem;
   
    //Flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    cursor: pointer;
    background-color:hsl(173, 100%, 42%);
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 1.5rem;
    
    font-size: 1rem;
    font-weight: 600;
    color:hsl(0, 0%, 100%);
    width: 42%;
    height: 17%;

    //Flex
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover{
        cursor: pointer;
        background-color: hsla(173, 79%, 67%, 0.838);

        transform: scale(1.05); 
    }
    
}

.title{
    // background-color: bisque;
    font-family: var(--font-text-primary);
    text-align: center;
    font-weight: bolder;
}

.paragraph{
    // background-color: purple;
    font-family: var(--font-text-secondary);
    font-weight: 400;
    height: 30%;
    font-size: var(--step--2);
}


.form{
    width:100%;
    height: 40%;
    margin-top: 2rem;
    // background-color: yellow; 
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.control{
    width: 100%;
    height: 25%;
    padding-left: 2%;
    background-color: #f1efefa6;

    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 0.55rem;
    // border: 2px solid red;

    //Flex
   
    // align-items: center;
}

.icon{
    width: 10%;
    height: 50%;
    // text-align: center;
    background-color: #f1efefa6;
    // background-color: yellow;
    color: hsl(173, 100%, 42%);
}

.input{
    all:unset;
    width: 90%;
    background-color: #f1efefa6;

    font-family: var(--font-text-secondary);
    font-size: var(--step--3);

    // &:focus{
    //     border: 2px solid var(--color-input-focus);
    // }
    // text-align: center;
    // font-weight: bolder;

}


.submit{
    height: 25%;
    // border: 2px solid hsl(173, 100%, 42%);
    // background-color: transparent;
    // color:black;
}

.errors{
    color:#fe5b5b;
    font-size: var(--step--3);
    font-weight: 500;
}